img{
    width: 300px;
    height: 300px;
    
}
.navbar{
    display: flex;
    position: sticky;
    top: 0;
}
.flow{
    position: relative;
}

@media screen and (max-width: 900px) {
    .product{
        display: flex;
        flex-wrap: wrap;
    }
}